html,body {
  height: 100%;
}

nav {
  border: 1px solid black;
  text-align: center;
  height: 5vh;
  min-height: 50px;
  background-color: #c3c3c3;
}

nav a {
  margin-top: 10px;
  margin-left: 1vw;
  display: inline-block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.box-lid {
  width: 100%;
  position: relative;
}

.header {
  position: absolute;
  z-index: 1;
  padding: 20px;
}

.logo {
  left: 1vw;
  margin-left: 10px;
  max-width: 10vw;
  max-height: 10vh;
}

.about {
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.cover {
  display: none;
  z-index: 2;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.popup {
  display: none;
}

.popup iframe {
  z-index: 3;
	position: absolute;
	top: 20%;
  left: 20%;
	width: 60%;
	height: 60%;
}

footer {
  text-align: center;
  background-color: #333;
  width: 100%;
  padding-top: 5px;
  bottom: 0;
  color: #FFFFFF;
}

footer p {
  display: inline-block;
}
