html,body {
  height: 100%;
}

html {
  overflow: auto;
}

.box-lid {
  width: 100%;
  position: relative;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  padding: 20px;
}

.logo {
  display: inline-block;
}

.logo img {
  margin-left: 10px;
  max-width: 10vw;
  max-height: 10vh;
}

.box2 {
  -webkit-box-flex: 1;
}

.purchase {
  display: inline-block;
}

.purchase a {
  border: 1px solid black;
  top: 5vh;
  right: 2vw;
}

footer {
  position: absolute;
  bottom: 0;
}

/* responsive youtube video */
.video-container {
  border: 1px solid black;
	position: relative;
	padding-bottom: 50%;
	padding-top: 30px;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 50%;
  max-width: 854px;
  max-height: 480px;
}
