html,body {
  height: 100%;
}

html {
  overflow: auto;
}

body {
  background-image: url('../../public/box-lid.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-img {
  margin-left: 10px;
  max-width: 10vw;
  max-height: 10vh;
}

.purchase {
  position: absolute;
  top: 5vh;
  right: 2vw;
}

footer {
  position: absolute;
  bottom: 0;
}

.show-grid {
  border: 1px solid black;
}
