<nav>
  <a href="#about" onclick="popUp()">About</a>
  <a href="#contact">Contact</a>
  <a href="https://www.amazon.com/">Purchase</a>
</nav>

<div class='header'>
  <img class='logo' src='logo.png'/>
</div>

<div class="video-container">
  <%= image_tag "box-lid.png", class: "box-lid" %>
  <div class="about">
    <iframe src="https://www.youtube.com/embed/CsR3KVgBzSM" allowfullscreen id="youtube"></iframe>
  </div>
</div>

<div >
</div>

<footer id='contact'>
  <p>Contact: email@domain.com</p>
</footer>
