<nav>
  <a href="#about" onclick="popUp()">About</a>
  <a href="#contact">Contact</a>
  <a href="https://www.amazon.com/">Purchase</a>
</nav>

<main>
  <div class="cover"></div>

  <div class='header'>
    <img class='logo' src='logo.png'/>
  </div>

  <div class="about">
    <%= image_tag "box-lid.png", class: "box-lid" %>
    <div class="popup">
      <span>X</span>
      <iframe src="https://www.youtube.com/embed/CsR3KVgBzSM" allowfullscreen id="youtube"></iframe>
    </div>
  </div>

  <div >
  </div>

  <footer id='contact'>
    <p>Contact: balanceofpowerchess@gmail.com</p>
  </footer>
</main>
