<div class='logo'>
  <img class='logo-img' src='logo.png'/>
</div>

<div id='video'>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NCtzkaL2t_Y" frameborder="0" allowfullscreen></iframe>
</div>
