<% 12.times do %>
  <div class='show-grid col span-1-t span-1-d'>
    sd
  </div>
<% end %>

<div class='row'>
  <div class='logo'>
    <img class='logo-img' src='logo.png'/>
  </div>

  <div class="col span-2-t span-2-d">
    <a href="#" class="btn btn-primary btn-lg purchase" role="button" aria-disabled="true">Purchase on Amazon</a>
  </div>
</div>

<div class='row'>
  <div class='col span-3-t span-4-d'>
    &nbsp;
  </div>
</div>


<footer class='contact-us col span-3-t span-5-d'>
  <p>
    CONTACT INFO
  </p>
</footer>
